<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    header {
      height: 15em;
      width: 100%;
      background-color: #2D3047;
    }
    .slideshow > div {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 240px;
        max-height: 200px;
    }

    .slideshow > div > img {
        height: 100%;
        width: 100%;
    }
    #title {
      float: left;
      padding: 2em 0 0 2em;
      color: #E0CA3C;
    }
    #nav {
      float: right;
      margin-top: 4em;
      margin-left: auto;
      margin-right: 6em;
    }
    #main-container {
      height: 100%;
      align-items: center;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }
    .contact{
      width: 100%;
      height: 10em;
      background-color: #2D3047;
    }
    .contact>span{
      color: #E0CA3C;
    }
    .main{
      width: 100%;
      height: 50em;
    }
    .nav-btn {
      cursor: pointer;
      padding: 1em;
      border-radius: 10px;
      text-align: center;
      border: 0.5em solid #E0CA3C;
      background-color: #2D3047;
    }

    .nav-btn > span {
      font-size: 1.4em;
      color: #E0CA3C;
      letter-spacing: 1em;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
        margin-top: auto;
    }

    .container {
        text-align:center;
        font-weight:bold;
        background-position: top;
        margin-bottom: 0px;
        width: 100%;
        height: 100px;
        top: 0px;
        margin-top: 2px;   }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
        border-right: 1px solid #bbb;
    }

    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4CAF50;
    }
    .home {
        background-color: #4caf50;
        color: white;
        font-family:verdana;
        height: 80px;
        width: 100%;
        display:block;
        margin-right: 10px;

    }
    .fancyNav li:after{

        /* Gradients! */

        background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
        background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
        background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
        background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
        background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

        /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

        box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
        -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
        -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;

        /* This will create a smooth transition for the opacity property */

        -moz-transition:0.25s all;
        -webkit-transition:0.25s all;
        -o-transition:0.25s all;
        transition:0.25s all;
    }
    /* Treating the first LI and li:after elements separately */

    .fancyNav li:first-child{
        border-radius: 4px 0 0 4px;
    }

    .fancyNav li:first-child:after,
    .fancyNav li.selected:first-child:after{
        box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
        -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
        -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

        border-radius:4px 0 0 4px;
    }

    .fancyNav li:last-child{
        border-radius: 0 4px 4px 0;
    }

    /* Treating the last LI and li:after elements separately */

    .fancyNav li:last-child:after,
    .fancyNav li.selected:last-child:after{
        box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
        -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
        -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

        border-radius:0 4px 4px 0;
    }


    /*.fancyNav li:hover:after,
    .fancyNav li.selected:after,
    .fancyNav li:target:after{*/
        /* This property triggers the CSS3 transition */
        /*opacity:1;
    }
    .fancyNav:hover li.selected:after,
    .fancyNav:hover li:target:after{*/
        /* Hides the targeted li when we are hovering on the UL */
        /*opacity:0;
    }

    .fancyNav li.selected:hover:after,
    .fancyNav li:target:hover:after{
        opacity:1 !important;
    }*/


    .fancyNav li a{
        color: #5d5d5d;
        display: inline-block;
        font: 20px/1 Lobster,Arial,sans-serif;
        padding: 12px 35px 14px;
        position: relative;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
        z-index:2;
        text-decoration:none !important;
        white-space:nowrap;
    }

    .fancyNav a.homeIcon{
        background:url('../img/home.png') no-repeat center center;
        display: block;
        overflow: hidden;
        padding-left: 12px;
        padding-right: 12px;
        text-indent: -9999px;
        width: 16px;
    }

</style>
