/*
  #E0CA3C yellow
  #563440 bordeaux
  #048A81 green
  #2D3047 blue
  #C4CAC8 gray
*/

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#header {
  height: 10em;
  width: 100%;
  background-color: #2D3047;
}

#header>div>div>h1 {
  font-size: 3em;
}

section {
  margin: 0;
  padding: 0;
}

#nav {
  position: fixed;
  display: block;
  top: 60px;
}

#title {
  position: fixed;
  float: left;
  padding: 1.4em 0 0 2em;
  margin: 0;
  color: #E0CA3C;
}

#main {
  background-color: #048A81;
}

#main-container {
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 10em;
  margin-left: auto;
}

#main-container>h1 {
  font-size: 5em;
  color: #C4CAC8;
}

#about {
  height: 60em;
}

#about-container {
  height: 60em;
  background-color: #2D3047;
}

#contact-container {
  height: 100em;
  width: 100%;
}

.nav-btn {
  display: inline-block;
  cursor: pointer;
  padding: 1em;
  margin-left: 1em;
  border-radius: 5px;
  text-align: center;
  border: 0.2em solid #E0CA3C;
  background-color: #2D3047;
}

.nav-btn>span {
  font-size: 1em;
  color: #E0CA3C;
  letter-spacing: 1em;
  margin-right:-1em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.container {
  width: 100%;
  display: flex;
}

.content-container {
  height: 25em;
  margin: auto;
  padding: 1em;
  border: 0.1em solid #E0CA3C;
  background-color: #2D3047;
  color: #C4CAC8;
}

.content-container>h2 {
  text-align: center;
  color: #E0CA3C;
}

.content-container>p {
}

.content-container>object {
  height: 10em;
  width: 10em;
  margin-top: 5em;
  width: 100%;
}

.third {
  width: 25%;
}
